body {
  margin: 0;
  background: linear-gradient(to top, #46284f, #362b54, #302749, #261f3a);
}
#aboutme,
#skills,
#portfolio,
#werkErvaring,
#contact {
  margin: 0;
}

@media (max-width: 680px) {
  #name,
  #title,
  p {
    text-align: center !important;
  }
  p {
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;
  }
  #profilePic {
    width: 210px !important;
    height: 285px !important;
    margin: 0 auto !important;
    margin-bottom: 50px;
    margin-right: 25% !important;
    margin-left: 25% !important;
  }
}

/* about me styling */
#aboutme {
  height: 100vh;
}

#name,
#title,
#aboutmeP {
  text-align: right;
}

h1,
h2,
p {
  color: #faedff;
}

#title {
  margin-bottom: 7vh;
}

#name {
  padding-top: 18vh;
  font-size: 6vh;
}

h1,
p {
  font-family: "Lexend";
}

#aboutmeP {
  margin-left: 0;
  margin-right: 0;
  padding: 0 10vw;
}

h2 {
  font-family: "Lexend Mega";
  font-size: 100%;
}

#profilePic {
  width: 21vw;
  height: 55vh;
  float: right;
  margin-right: 10vw;
  margin-top: 18vh;
  margin-left: 3vw;
  border-radius: 25px;
  box-shadow: 5px 5px 7px #1b1b1b;
}

#cvBtn,
#skillsBtn {
  color: #fcf7ff;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#skillsBtn {
  background-color: #261f3a;
  border: 2px solid #ada6ea;
  margin-left: 53vw;
}

#cvBtn {
  background-color: #ada6ea;
  border: none;
}

/* skills styling */

#softSkills,
#hardSkills {
  border: 2px solid #ada6ea;
  border-radius: 20px;
  width: 60vw;
  padding: 10px 20px;
  margin: 20px auto;
}

.skillP {
  text-align: left;
}

.skillTitle {
  text-align: center;
}

#skillsH1 {
  margin-left: 15px;
  font-size: 6vh;
}
